@import "tailwindcss";

@theme {
    --animate-moving-lr: moving-lr .6s ease-in-out forwards;
    --animate-fade-in: fade-in .6s ease-in-out forwards;

    @keyframes moving-lr {
        0% {
            transform: translateX(-100vw);
        }

        100% {
            transform: translateX(0vw);
        }
    }

    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}